body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/land.jpg");
}

.nav-link {
  font-size: 20px;
  color: black;
}

.circle {
  width: 85%;
  border-radius: 50%;
  align-content: center;
  box-shadow: 0 0 10px #000;
}

.fab {
  padding: 0 10px 10px 10px;
}

.col {
  flex-basis: auto;
  flex-grow: 0;
}
#me {
    border-radius: 1%;
    border: 1px whitesmoke solid;
    box-shadow: 0 0 10px #000;
}

.name {
    text-align: center;
    font-size: 35px;
    margin: 0;
}

object {
  align-content: center;
  margin: 0 auto;
}

.text-block {
  color: black;
  text-align: center;
  font-size: 35px;
  margin: 0;
}

h6 {
  margin: 0 0 10px 0;
}

body, html {
    height: 100%;
  }

.land {
      width: 100%;
      z-index: 0;
  }

#about {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.733);
      /* margin-bottom: 40px; */
  }

.btn {
      width: 100%;
      height: 90px;
      font-size: 50px;
  }

html {
    scroll-behavior: smooth;
 }

#sidebar {
      height: 100%;
      padding-top: 45px;
      background-image: url("images/land.jpg");
      position: fixed;
  }

  .hide {
      display: none;
  }

  .show {
      display: block;
  }

  #projects {
    width: 50%;
  }

a:link {
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:black;
}

a:active {
  color: #86959A;
}

  .tile {
      padding: 15px;
      align-content: center;
     
  }

  #img {
    border: 1px solid rgba(255, 255, 255, 0.733);
    border-radius: 1%;
    border: 1px whitesmoke solid;
    /* box-shadow: 0 0 10px #000; */
  }

  h2 {
      text-align: center;
      color: rgba(255, 255, 255, 0.733);
      font-size: 60px;
  }
  
  .about {
    margin: 0 auto;
    width: 50%;
    padding: 0;
    margin-top: 170px;
  }

  .card .card-content{
    padding: 0;
    /* margin-bottom: 10px; */
  }
